<div class="head">
    <img  class="head-logo" src="assets/logo1.png" alt="">
  <div class="topContainer">
   
      <div class="main">
        <input type="checkbox" id="chk" aria-hidden="true">
        <div class="signup">
          <form>
            <label for="chk" aria-hidden="true">Sign up</label>
            <input type="text" name="userName" placeholder="User name" [(ngModel)]="signupObj.userName" required>
            <input type="email" name="email" placeholder="Email" [(ngModel)]="signupObj.email" required>
            <input type="password" name="password" placeholder="Password" [(ngModel)]="signupObj.password" required>
            <button (click)="onSignUp()" >Sign up</button>
          </form>
        </div>
    
        <div class="login">
          <form>
            <label for="chk" aria-hidden="true">Login</label>
            <input type="text" name="userNmae" placeholder="User Name" [(ngModel)]="loginObj.userName"   required>
            <input type="password" name="password" placeholder="Password"  [(ngModel)]="loginObj.password"   required>
            <button (click)="onLogin()">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>